<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>874487374755-opgqgtsfefa255pvabalklc30oqk6a1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874487374755-opgqgtsfefa255pvabalklc30oqk6a1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAl54VHyykkXTwxWb1QV46ZblFJQLNrlUw</string>
	<key>GCM_SENDER_ID</key>
	<string>874487374755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.uwe.sense</string>
	<key>PROJECT_ID</key>
	<string>uwe-sense</string>
	<key>STORAGE_BUCKET</key>
	<string>uwe-sense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:874487374755:ios:219e8a706be7f7ce</string>
	<key>DATABASE_URL</key>
	<string>https://uwe-sense.firebaseio.com</string>
</dict>
</plist>
