<ActionBar title="Bristol Approach" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout class="page" orientation="vertical">
        <Image src="res://logo" width="75%" horizontalAlignment="center"></Image>
        <Label text="About" class="title"></Label>
        <Label textWrap="true" text="The Bristol Approach focuses on supporting people to work together to ‘pull-in’ the knowledge, technology and resources needed to tackle a problem. The Bristol Approach framework is also currently being implemented within the five-year European partnership project REPLICATE, as part of a strand of work to uncover issues surrounding air quality in East Bristol and explore the impact of air quality on people’s travel behaviour."></Label>
        <Label>
            Join in the conversation online with the hashtag #bristolapproach
        </Label>
        <Button text="Back" (tap)="back()"></Button>
    </StackLayout>
</ScrollView>
