<ActionBar title="Bristol Sense" class="action-bar"></ActionBar>
<ScrollView>
    <StackLayout class="page" orientation="vertical">
        <Label text="Configure {{ peripheral.name }}" class="title"></Label>
        <Label *ngIf="characteristics.length > 0" text="Resample rate (hh:mm:ss)" class="subtitle"></Label>
        <StackLayout *ngFor="let characteristic of characteristics" class="page" orientation="vertical" horizontalAlignment="center">
            <Label text="{{characteristic.friendlyName}}"></Label>
            <StackLayout class="page" orientation="horizontal" horizontalAlignment="center">
                <ListPicker class="timepicker" [items]="zeroToTwentyFour"
                            selectedIndex="{{characteristic.resample.hours}}"
                            (selectedIndexChange)="changeHours($event, characteristic.UUID)"></ListPicker>
                <ListPicker class="timepicker" [items]="zeroToSixty"
                            selectedIndex="{{characteristic.resample.minutes}}"
                            (selectedIndexChange)="changeMinutes($event, characteristic.UUID)"></ListPicker>
                <ListPicker class="timepicker" [items]="zeroToSixty"
                            selectedIndex="{{characteristic.resample.seconds}}"
                            (selectedIndexChange)="changeSeconds($event, characteristic.UUID)"></ListPicker>
            </StackLayout>
        </StackLayout>
        <Button class="{{ updating ? 'special' : 'none' }}"
                text="{{ updating ? 'Updating \u27f2' : 'Update' }}"
                (tap)="update($event)"
                isEnabled="{{ !updating }}"></Button>
        <Button text="Back" (tap)="back($event)"></Button>
        <Button class="special" text="Unregister" (tap)="unregister($event)"></Button>
    </StackLayout>
</ScrollView>
